@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- Reset global ----- */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: repeat;
    background-position: center top;
    overflow-x: hidden;
}

/* primari: black, secondary:red, Terciary:white */
/* backgrgound-color: White, sec:  */

img,
video,
iframe,
table {
    max-width: 100%;
    height: auto;
    display: block;
}

.flex,
.grid {
    max-width: 100%;
    overflow-x: hidden;
}

/* Contenedor principal centrado */
.container {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Header, Main, Footer centrados con max-width */
.header-container,
.main,
.footer-container {
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

/* Main principal */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.main > * {
    max-width: 100%;
}

/* Slider, tablas o contenido gigante */
.slider,
.slider > *,
table,
table * {
    max-width: 100%;
    overflow-x: auto;
}


/* ====== HEADER GENERAL ====== */
/* Contenedor del header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
}

/* Logo */
.header-imgdiv {
    width: 4rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header-inner {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ====== NAVEGACIÓN ====== */
.nav-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== NAV LINKS Y BOTONES HEADER ===== */
.nav-a,
.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 5rem; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav-a:hover,
.header-button:hover {
    color: #c49a6c;
}

.header-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 5rem; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    color:#ac413c
}

.header-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* ====== FOOTER GENERAL ====== */
.footer-container {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}

.footer-line {
    height: 2px;
    background-color: #000;
    width: 80%;
}

.footer-inner {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
}

.footer-right,
.footer-center,
.footer-left {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 1rem;
}

.footer-title {
    font-size: 1.5rem;
}

.footer-content {
    font-size: 1rem;
}

.footer-ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.footer-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

/* ====== MAIN IMAGES ====== */
.top-div {
    position: relative;
    /* necesario para posicionar el h1 dentro */
    width: 100%;
    height: 40vh;
    /* ajusta al alto de la ventana */
    overflow: hidden;
    /* evita desbordes de la imagen */
    background-color: burlywood;
}

.top-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* hace que la imagen llene el contenedor */
}

.top-titles {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem 0 2rem;
    gap: 1rem;
}

.top-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.767);
    text-transform: uppercase;
}

.top-h2 {           
    height: 3rem;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    border-top: 3px solid #000;
    border-bottom: 2px solid #000;
}

/* ====== MENÚ ====== */
.menu-buttons {
    display: flex;
    flex-flow: row wrap;
    padding: 2.5rem 0 0;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.menu-flex,
.home-flex {
    width: 100%;
    max-width: 62rem;
    display: flex;
    flex-flow: column nowrap;
    padding: 4rem 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.menu-h2 {
    width: 27rem;            
    height: 3rem;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    border-top: 3px solid #000;
    border-bottom: 2px solid #000;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* dos columnas fijas */
    gap: 20px;
    width: 100%;
}

.menu-card {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    padding: 15px;
    border-radius: 8px;
    gap: 1.5rem;
    box-sizing: border-box;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.card-title {
    flex: 1;
}

.card-price {
    color: rgb(185, 119, 32);
}

.card-desc {
    width: 100%;
}

/* ====== BOTONES DEL MENÚ ====== */
.menu-button {
    height: 2.5rem;
    width: 8rem;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ac413c;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.menu-button:hover {
    background-color: #c14944;
    color: #fff;
}

/* ====== HOME ====== */
.home-h2 {
    width: 22rem;            
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.home-containers {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color:rgb(219, 206, 189);
}

.home-button {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ac413c;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0.3rem 1rem;
    transition: all 0.2s ease-in-out;
}

.menu-button:hover {
    background-color: #c14944;
    color: #fff;
}

/* ====== EVENTS ====== */
.event-flex {
    width: 100%;
    max-width: 62rem;
    display: flex;
    flex-flow: column nowrap;
    padding: 2.5rem 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* dos columnas fijas */
    gap: 2rem;
    width: 100%;
}

.events-article {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.event-container {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #ac413c;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.event-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.event-h2 {
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
}

.event-date {
    font-size: 1.1rem;
}

.event-description {
    font-size: 1rem;
}

/* ====== TAKEOUT ====== */
.counter {
    font-weight: 600;
    margin-bottom: 1rem;
}

.counter span {
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
}

.cart-button {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ac413c;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0.4rem 1.1rem;
    transition: all 0.2s ease-in-out;
}

.cart-button:hover {
    background-color: rgb(180, 140, 80);
}

.cart-flex {
    width: 100%;
    max-width: 62rem;
    display: flex;
    flex-flow: column nowrap;
    padding: 2.5rem 0.5rem;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.cart-title {
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
}

.cart-empty {
    font-size: 1.2rem;
    padding: 0 0 1rem 0;
}

.cart-ul {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    gap: 0.6rem
}

.cart-li {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    gap: 1.5rem;
}

.cart-buttons {
    display: flex; 
    gap: 0.5rem;
}

.cart-smallButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ac413c;
    border-radius: 50%;
    border: none;
    color: #fff;
}

.cart-a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    color:#ac413c;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.cart-a:hover {
color: #c49a6c;
}

/* ====== ADAPTACIÓN MÓVIL ====== */
@media (max-width: 768px) {
    .nav-a,
    .social-button,
    .menu-button {
        font-size: 0.85rem;
    }
}