/* ----- Header ----- */
.header,
.footer {
    width: 100%;
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 20px 20px;
    overflow-x: hidden;
}

.header-container {
    margin: auto;
    max-width: 75rem;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    align-items: center;
}

.header-imgdiv {
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 100%;
    height: auto;
}

.header-inner {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color ease 0.2s;
    transition: all ease 0.2s;
}

.nav-a:hover {
    color: burlywood;
}

.nav-a.active {
    color: burlywood;
    border-bottom: 2px solid burlywood;
    padding-bottom: 0.1rem;
}


.nav-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-a {

}

.header-social {}

.social {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.social-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.social-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
}

.social-img {
    width: 100%;
    height: auto;
}

.social-button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: burlywood;
    color: aliceblue;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 1rem;
}

/* ----- Footer ----- */
.footer-container {
    margin: auto;
    max-width: 48rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.footer-right,
.footer-center,
.footer-left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 1rem;
}

.footer-title {
    font-size: 1.5rem;
}

.footer-content {
    font-size: 1rem;
}

.footer-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}