/* ----- Reset global ----- */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    background-color: #e2e2e2;
    overflow-x: hidden;
}

img,
video,
iframe,
table {
    max-width: 100%;
    height: auto;
    display: block;
}

.flex,
.grid {
    max-width: 100%;
    overflow-x: hidden;
}

/* Textos largos o palabras sin espacios */
* {
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
    min-width: 0;
}

/* Contenido general dentro de contenedores */
*>* {
    max-width: 100%;
    box-sizing: border-box;
}

/* Slider, tablas o contenido gigante */
.slider,
.slider>*,
table,
table * {
    max-width: 100%;
    overflow-x: auto;
    /* permite scroll interno solo si es necesario */
}

/* ----- Contenedor principal ----- */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #e2e2e2;
    overflow-x: hidden;
}

/* ----- Main ----- */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.main>* {
    max-width: 100%;
}
